*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
body{
    background-color: gray;
}

/* ---- menu-01---- */

nav{
    background-color: indigo;
}

nav ul{
    list-style: none;
}

nav ul li{
    display: inline-block;
    position: relative;
}

nav ul li a{
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    color: white;
    padding: 10px 30px;
    transition: .5s;
    font-family: sans-serif;
    font-weight: 600;
}

.menu-01 ul li:hover > a{
    background-color: white;
    color: indigo;
}

nav ul li ul{
    border-top: 2px solid red;
    position:absolute;
    top: 100%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    background-color: indigo;
}

nav ul li:hover > ul{
    opacity: 1;
    visibility: visible;
}

nav ul li ul li a{
    font-size: 18px;
    font-weight: 500;
}

nav ul li ul li ul{
    left: 100%;
    top: 0;
}

/* ------ menu 02 ------ */

.menu-02{
    margin-top: 200px;
    background-color: white;
}

.menu-02 ul li a{
    color: indigo;
}

.menu-02 ul li:hover > a{
    color: white;
    background-color: indigo;
}

.menu-02 ul li ul{
    background-color: white;
    color: indigo;
}

/* ---- menu-03---- */

.menu-03{
    margin: 200px 0px 500px;
    background-color: #23282D;
}

.menu-03 ul li a{
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    color: white;
    transition: 0.8s;
}

.menu-03 ul li a:hover{
    border-bottom: 1px solid white;
}

.menu-03 ul li ul{
    background-color: #23282D;
    border: none;
}
.menu-03 ul li ul li{
    display: block;
    width: 200px;
    padding-top: 30px;
}
.menu-03 ul li ul li a{
    line-height: 1.5;
}
